<div class="row">
  <div class="col">
    <div class="p-4">
      <div class="mb-5">
        <%= link_to root_path do %>
          <%= image_tag "instagram-sidebar-logo.png", width: 103 %>
        <% end %>
      </div>

      <div class="mb-4">
        <%= link_to "", data: { "bs-toggle" => "modal", "bs-target" => "#exampleModal" }, class: "sidebar-link" do %>
          <%= image_tag "icons/add-button.png", width: 24, class: "me-3" %>
          Create
        <% end %>
      </div>

      <div>
        <%= link_to "Log out", destroy_user_session_path, data: {"turbo-method": "delete"}, class: "p-2" %>
      </div>
    </div>
  </div>
  <div class="col-7">
    2 of 3 (wider)
  </div>
  <div class="col-2">
    3 of 3
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <p class="modal-title fs-6 fw-semibold" id="exampleModalLabel">Create new poste</p>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <div style="margin-left: auto; margin-right: auto; text-align: center" >
          <%= image_tag "icons/image-drag and drop.png", width: 96 %>
          <p class="fs-5">Drag photos and videos here</p>
        </div>
      </div>
    </div>
  </div>
</div>